* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url("https://res.cloudinary.com/mrst12/image/upload/o_20/v1673961018/shaun-shop-front_mbv6fx.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}*/

/*Navigation*/
#menu {
  float: right;
  font-size: 150%;
  letter-spacing: 2px;
}

#menu li {
  float: left;
  list-style: none;
  margin-right: 30px;
  margin-top: 30px;
}

#menu a {
  text-decoration: none;
  color: rgb(192, 39, 57);
}

#menu a:hover {
  border-bottom: 2px solid #25457e;
  background-color: #ef7851;
  color: black;
}

.active {
  border-bottom: 2px solid #ef7851;
}

a {
  text-decoration: none;
  margin-top: 50px;
}

#logo {
  width: 100%;
}

/*footer*/
footer {
  height: 100px;
  background-color: rgb(63, 71, 199);
}

footer p {
  color: #fff;
  text-align: center;
}

.about {
  margin-top: 10px;
  padding: 50px;
}

/*opening times page*/

ul.times {
  list-style: none;
  font-size: 20px;
  line-height: 50px;
}

.times {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  border: 2px solid rgb(192, 39, 57);
  color: black;
  border-radius: 20px;
}

.opening {
  margin: 150px;
}

/*contact page*/

button {
  background-color: #ef7851;
  padding: 20px;
  margin: 30px;
  font-size: 20px;
  border-radius: 10px;
}

button a {
  color: black;
}

button:hover {
  background-color: rgb(192, 39, 57);
}

.address {
  text-align: center;
  border: 2px solid rgb(192, 39, 57);
  border-radius: 20px;
  width: 50%;
  /*margin: 150px auto 100px auto;*/
  padding: 40px 20px;
}
.address p {
  font-size: 20px;
  line-height: 50px;
}

.flex-container,
.flex-container1 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px;
  min-width: fit-content;
}

/*testimonial page*/

.testimonials {
  height: 400px;
  width: 100%;
}

/*home page*/
.supplies li {
  float: left;
  text-align: center;
  padding: 10px;
  list-style-position: inside;
  /*column-count: 2;*/
  line-height: 20px;
}

.supplies ul {
  padding-top: 20px;
}

@media screen and (max-width: 427px) {
  .flex-container {
    flex-direction: column;
    margin: 0;
  }
  .flex-container1 {
    flex-direction: column;
    margin: 20px 0;
  }

  #menu {
    font-size: 16px;
    letter-spacing: normal;
    margin-bottom: 20px;
  }

  button {
    font-size: small;
    padding: 5px;
    margin: 1px;
  }
  .address {
    width: fit-content;
  }
}
