* {
  margin: 0;
  padding: 0;
  border: none;
}
/*header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}*/

#menu {
  float: right;
  font-size: 150%;
  letter-spacing: 2px;
}

#menu li {
  float: left;
  list-style: none;
  margin-right: 30px;
  margin-top: 30px;
}

#menu a {
  text-decoration: none;
  color: rgb(220 23 45);
}

#menu a:hover {
  border-bottom: 1px solid #25457e;
  background-color: rgb(206 75 41);
  color: black;
}

.active {
  border-bottom: 1px solid rgb(206 75 41);
}

a {
  text-decoration: none;
  margin-top: 50px;
}

#logo {
  width: 100%;
}

/*footer*/
footer {
  height: 100px;
  background-color: rgb(63, 71, 199);
}

footer p {
  color: #fff;
  text-align: center;
}

.about {
  margin: 50px;
  padding: 50px;
}

/*opening times page*/

ul.times {
  list-style: none;
  font-size: 20px;
  line-height: 50px;
}

.times {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.opening {
  margin: 150px;
  background-color: #f6f6f6;
}

/*contact page*/
